.app {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.beginningView {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  transition: margin 0.3s ease;
  &_selected {
    margin-top: 46px;
  }
  &_hide {
    opacity: 0;
    height: 0;
    margin-top: 0;
  }
}

.pleaseSelect {
  position: relative;
  display: flex;
  max-width: 180px;
  margin-top: 10px;
  transition: all 0.1s ease;

  &_selelction {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background: rgba(68, 161, 248, 0.1);
    border: 1px solid #44a1f8;
  }
  &_cursor {
    position: absolute;
    bottom: -20px;
    right: -20px;
    display: flex;
    width: 22px;
    height: 22px;
    background-image: url(./assets/cursor.png);
    background-size: cover;
  }
  &_text {
    font-weight: bold;
    font-size: 16px;
    white-space: break-spaces;
    text-align: center;
    margin: 8px 0;
  }
}

.machine {
  position: relative;
  display: flex;
  width: 260px;
  height: 260px;
  transform: translateX(8px);
  // border: 1px solid;

  &_base {
    position: absolute;
    z-index: 10;
    left: 40px;
    width: 192px;
    height: 249px;
    background-image: url(./assets/machine.svg);
    background-size: cover;
  }

  &_lever {
    transform-origin: bottom right;
    position: absolute;
    top: 60px;
    left: 32px;
    transform: rotate(-55deg);
  }

  &_greenlamp {
    position: absolute;
    z-index: 20;
    left: 190px;
    top: 140px;
  }

  &_orangelamp {
    position: absolute;
    z-index: 20;
    left: 190px;
    top: 109px;
  }

  &_alphabet {
    position: absolute;
    top: 182px;
    left: 127px;
    z-index: 20;
    border-radius: 20px;
    width: 32px;
    height: 14px;
    border: 1px solid black;
    background-color: #ebebeb;
    &_thumb {
      position: absolute;
      top: -4px;
      left: -4px;
    }
  }

  &_pressure {
    position: absolute;
    top: 110px;
    left: 125px;
    z-index: 20;
    &_arrow {
      transform: rotate(-35deg);
      transform-origin: bottom center;
      transition: all 0.1s ease;
    }
  }

  &_amount {
    position: absolute;
    text-align: center;
    width: 40px;
    top: 100px;
    left: 62px;
    color: white;
    z-index: 20;
  }

  &_iconcards {
    position: absolute;
    z-index: 20;
    left: 56px;
    top: -17px;
    width: 130px;
    height: 60px;
    background-image: url(./assets/icon-cards.svg);
    background-size: 130px 85px;
    background-repeat: no-repeat;
    transition: all 0.2s ease;
  }

  &_liveline {
    position: absolute;
    top: 152px;
    left: 54px;
    width: 57px;
    height: 17px;
    background-size: 17px;
    z-index: 20;
    background-image: url(./assets/straight-line.svg);
    &_wave {
      animation: lineanimation 1.6s infinite;
      background-image: url(./assets/wave-line.svg);
    }
  }
}

@keyframes lineanimation {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 33px;
  }
}

.previewView {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.icon {
  margin: 12px;
}

//

.floatingSection {
  z-index: 90;
  width: calc(100% - 32px);
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 16px;
  transition: all 0.16s ease;
}

.button {
  height: 40px;
  width: 100%;
  background-color: black;
  outline: none;
  border: none;
  font-weight: 900;
  font-size: 16px;
  color: white;
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  margin-top: 8px;
  box-shadow: 0 0 20px var(--light-clr);
  transition: all 0.1s ease;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
}
